/* google fonts */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.bold {
    font-weight: bold;
}

.gray-color {
    color: #8987A1;
}

.light-black {
    color: #111111;
}

.black-blue {
    color: #252432;
}

.orange-color {
    color: #E95A08;
}

.common-button {
    background-color: #E95A08;
    font-size: 1em;
    color: white;
    padding: 1em 0;
    width: 100%;
    display: inline-block;
    border: none;
}

a {
    text-decoration: none;
}

/* for all section */
section {
    margin-top: 5em;
}

body {
    margin: 2em auto 0 auto;
}

/* Navbar style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15em;

}

nav img {
    width: 7em;
}

nav ul {
    display: flex;
    gap: 2.5em;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

/* Banner style */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 80%;
}

.banner-heading {
    font-size: 4em;
    margin-bottom: 0;
}

.banner-description {
    font-size: 1.2em;
}

.banner img {
    width: 100%;
}

.banner div {
    width: 100%;
}

/* Plants Section */
.our-plant {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.our-plant-heading {
    font-size: 2.5em;
    margin: .5em auto;
    margin-top: 2em;
}

.our-plant-intro {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.plants {
    width: 100%;
}

.plants img {
    width: 100%;
}

.plant-name {
    font-weight: 500;
    font-size: 1.3em;
}

.plant-price {
    font-size: 1.3em;
}

.plant-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
}

/* Plants Lover Section */
.plant-lover-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: 80%;
    margin: 10em auto;
}

.plant-lover-description {
    width: 50%;
}

.store-img {
    width: 100%;
}

.first-div {
    position: relative;

}

.badge {
    width: 60%;
    position: absolute;
    top: -22%;
    right: -22%;
}

.plant-lover-tittle {
    font-size: 3.5em;
    padding-left: .5em;
    margin-bottom: .5em;
}

.plant-lover-section ul li {
    margin-bottom: 1.5em;
    font-size: 1.3em;

}

/* latest-deal-section */
.latest-deal-section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.latest-deal-tittle {
    font-size: 3em;
    margin-bottom: 0;
}

.latest-deal-description {
    font-size: 1.2em;
    padding: 0 10em;
    margin-bottom: 4em;
}

.deal-1 {
    background-image: url('assets/deal-bloom.png');
}

.deal-2 {
    background-image: url('assets/deal-ana.png');
}

.deal-3 {
    background-image: url('assets/deal-zabo.png');
}

.deals {
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.deal-container {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

/* join section */
.join-section {
    width: 100%;
    height: 33em;
    background-image: url('assets/news-letter-bg.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: center;
}

.join-section-tittle {
    font-size: 3em;
    color: white;
}

.input-div {
    display: flex;
    margin: 0 25%;
}

.email-input {
    width: 100%;
    font-size: 1em;
    padding: 1em 2em;
    border: none;
}

.subscribe-btn {
    width: 35%;
}

/* Footer Section */

footer {
    width: 90%;
    height: 18em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
}

.footer-part1 {
    width: 30%;
}

.footer-part2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.footer-part2 ul li {
    list-style: none;
    margin-top: 1.5em;
}

.footer-part2 ul li a {
    text-decoration: none;
    color: #8987A1;
}

.footer-part3 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
}


/* media query for responsive design */

@media (max-width: 576px) {

    /* navbar */
    nav {
        width: 92%;
        margin: 0 4%;
    }

    nav ul>li {
        display: none;
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
        max-width: 92%;
    }

    .banner-heading {
        font-size: 2em;
    }

    .banner img {
        width: 100%;
    }

    .banner div {
        width: 100%;
    }

    /* Plants Section */
    .plant-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .our-plant {
        width: 92%;
    }

    /* Plants Lover Section */
    .plant-lover-section {
        flex-direction: column;
        gap: 0;
        width: 92%;
    }

    .store-img {
        width: 100%;
    }

    .badge {
        display: none;
    }

    .plant-lover-tittle {
        font-size: 2em;
    }

    .plant-lover-description {
        width: 100%;
    }

    /* join section */
    .join-section {
        height: 20em;
    }

    .join-section-tittle {
        font-size: 2em;
    }

    .input-div {
        margin: 0 10%;
    }

    .subscribe-btn {
        width: 40%;
    }

    /* Footer Section */

    footer {
        width: 92%;
        height: 100%;
        flex-direction: column;
        gap: 2em;
        margin-bottom: 5em;
    }

    .footer-part1 {
        width: 100%;
        margin-top: 3em;
        text-align: center;
    }

    .footer-part2 {
        align-items: center;
        width: 100%;
    }

    .footer-part3 {
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

}