/* google fonts */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.bold {
    font-weight: bold;
}

.gray-color {
    color: #8987A1;
}

.light-black {
    color: #111111;
}

.black-blue {
    color: #252432;
}

.orange-color {
    color: #E95A08;
}

.common-button {
    background-color: #E95A08;
    font-size: 1em;
    color: white;
    padding: 1em 4.8em;
    display: inline-block;
    border: none;
}

a {
    text-decoration: none;
}

/* for all section */
section {
    margin-top: 5em;
}

/* Navbar style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    margin-bottom: 15em;

}

nav img {
    width: 7em;
}

nav ul {
    display: flex;
    gap: 2.5em;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

/* Banner style */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 80%;
}

.banner-heading {
    font-size: 4em;
    margin-bottom: 0;
}

.banner-description {
    font-size: 1.2em;
}

.banner img {
    width: 40em;
}

.banner div {
    width: 50%;
}

/* Plants Section */

.our-plant {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.our-plant-heading {
    font-size: 2.5em;
    margin: .5em auto;
    margin-top: 2em;


}

.our-plant-intro {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.plants {
    margin-bottom: 2em;
    width: 100%;
}

.plants img {
    width: 100%;
}

.plant-name {
    font-weight: 500;
    font-size: 1.3em;
    margin: .5em auto;
}

.plant-price {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 1.2em;
}

.plant-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
}

/* media query for responsive design */

@media (max-width: 576px) {

    /* navbar */
    nav {
        width: 92%;
        margin: 0 4%;
    }

    nav ul>li {
        display: none;
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
        gap: 1em;
        margin: 0 auto;
        max-width: 90%;
    }

    .banner-heading {
        font-size: 2em;
    }

    .banner img {
        width: 100%;
    }

    .banner div {
        width: 100%;
    }

    /* Plants Section */
    .plant-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .common-button {
        padding: 1em 2em;
    }



}